.experience-box {
  background-color: green;
}

.experience-tile {
  margin-right: 10pt;
  background-color: white;
  display: inline-block;
  height: 200pt;
  width: 180pt;
}

.place-holder-img {
  width: 100%;
  height: 100pt;
  background-color: yellow;
}

.experience-img{
  width: 100%
}

.experience-info-container {
  height: 100pt;
  width: 100%;
  background-color: cyan;
}

h4 {
  margin: 0;
}

h5 {
  margin: 0;
}

p {
  margin: 0;
}

.experience-price {
  display: inline-block;
}

.view-experience-btn {
  display: inline-block;
}

.experience-list {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  width: 100%;
  border-bottom-left-radius: 2pt;
  border-bottom-right-radius: 2pt;
}
